<div class="card">
  <div class="card-header">
  <h5>{{postTitle}} </h5>
    <div>Posted by {{user.name}}</div>
  </div>
  <div class="card-body">
    <p class="card-text">{{postConent}}</p>
  </div>
</div>

<div class="card">
  <div class="card-body">
      <h5 class="card-title">Comment</h5>
    <p class="card-text">{{user.comment}}</p>
    <p> {{user.name}}, {{date}}</p>
  </div>
</div>